@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
:root {
  --color-bg-dark: #3a3a3a;
  --color-bg-black: #111111;
  --color-white: #fefefe;
  --color-primary: #7634d8;
  --color-danger: rgb(249, 84, 84);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  background: #ccc;
}
.App{
  background: var(--color-bg-black);
  height: 36rem;
  width: 18rem;
  margin: 0 auto;
  border-radius: 7px;
  padding: 2rem 1.6rem;
  /* overflow-y: scroll; */
  position: relative;
  color: var(--color-white);
}
.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header .icons{
  width: 25%;
  display: flex;
  justify-content: space-between;
}
